<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Client.Creator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Client.Creator.Properties.Settings.TestKeyConnectionString"
      connectionString="Data Source=EBOSQL;Initial Catalog=ProtectionKey;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="CreatorServiceTcpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="15242880" maxConnections="10" maxReceivedMessageSize="15242880">
          <readerQuotas maxDepth="32" maxStringContentLength="15242880" maxArrayLength="2147483646" maxBytesPerRead="4096" maxNameTableCharCount="32768"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:9091/Creator/tcp" behaviorConfiguration="" binding="netTcpBinding" bindingConfiguration="CreatorServiceTcpBinding" contract="CreatorService.ICreator" name="CreatorServiceTcp"/>
    </client>
    <behaviors/>
  </system.serviceModel>
  <userSettings>
    <Client.Creator.Properties.Settings>
      <setting name="Scheme" serializeAs="String">
        <value>net.tcp</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>9091</value>
      </setting>
      <setting name="RelativePath" serializeAs="String">
        <value>/Creator/tcp</value>
      </setting>
      <setting name="SelectedDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>localhost</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="WindowLocation" serializeAs="String">
        <value>250, 200</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>1000, 600</value>
      </setting>
      <setting name="ShowLogWindow" serializeAs="String">
        <value>False</value>
      </setting>
    </Client.Creator.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
