<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <connectionStrings>
      <add name="CreatorDB" connectionString="Data Source=SSEPRODSQL\CREATOR;Initial Catalog=ProtectionKey;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTCPBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CreatorBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceAuthorization impersonateCallerForAllOperations="false"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="CreatorBehavior" name="Service.Creator.Creator">
        <endpoint address="net.tcp://localhost:9090/Creator/mex" binding="mexTcpBinding" name="CreatorServiceMexTcp" contract="IMetadataExchange"/>
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="NetTCPBinding" name="CreatorServiceTcp" contract="Service.Creator.ICreator"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9091/Creator/"/>
            <add baseAddress="http://localhost:9092/Creator/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
